@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CourseContractRevision _model;
    CourseContractMember _owner;
    CourseContract _contract;
    DateTime? _signatureDate;

    CourseContractViewModel _viewModel = (CourseContractViewModel)ViewBag.ViewModel;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _model = (CourseContractRevision)this.Model;
    _contract = _model.CourseContract;
    _original = _model.SourceContract;
    _owner = _contract.CourseContractMember.Where(m => m.UID == _contract.OwnerID).First();
    var item = _contract.CourseContractLevel.Where(l => l.LevelID == (int)Naming.CourseContractStatus.待簽名).FirstOrDefault();
    if (item != null)
    {
        _signatureDate = item.LevelDate;
    }
    else
    {
        _signatureDate = _contract.EffectiveDate ?? _contract.ContractDate;
    }
}
<div class="row"
    style="@(_viewModel.Pdf == "1" ? "font-size: 15px; margin: 0px; width: 21.5cm;height: 29.7cm" : "font-size: 15px; margin: 0 5px 0 0;")"">
    <div class=" col-md-12">
        <h4 class="text-center" style="margin-bottom: 0px"><b>Beyond Fitness 顧問服務快速終止申請書</b></h4>
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="2">合約編號：@(_contract.ContractNo())</td>
                </tr>
                <tr style="border-width: 1px; border-top-style: dashed;">
                    <td colspan="2">學員資料</td>
                </tr>
                @{
                    IEnumerable<CourseContractMember> items;
                }
                @if (_original.ContractType == (int)CourseContractType.ContractTypeDefinition.CFA
                || _original.ContractType == (int)CourseContractType.ContractTypeDefinition.CGF
                || _original.ContractType == (int)CourseContractType.ContractTypeDefinition.CVF)
                {
                    items = _original.CourseContractMember.Where(m => m.UID == _original.OwnerID);
                }
                else
                {
                    items = _original.CourseContractMember;
                }
                @foreach (var m in items)
                {
                <tr>
                    <td>姓名：@(m.UserProfile.RealName)</td>
                    <td>聯絡電話：@(m.UserProfile.Phone)</td>
                </tr>
                }
                <tr style="border-width: 1px; border-top-style: dashed;">
                    <td colspan="2">原合約內容</td>
                </tr>
                <tr>
                    <td>名稱：@(_original.CourseContractType.TypeName)(@(_original.LessonPriceType.DurationInMinutes)分鐘)</td>
                    <td>
                        @if (_original.LessonPriceType.BranchStore?.IsVirtualClassroom() == true
                        || _original.CourseContractType.ForVirtaulClass)
                        {
                        <text>上課場所/簽約分店：遠距/@(_original.CourseContractExtension.BranchStore.BranchName)</text>
                        }
                        else
                        {
                        <text>上課場所：@(_original.CourseContractExtension.BranchStore.BranchName)</text>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2">購買堂數：共@(_original.Lessons)堂<br />
                        <p style="margin-left: 60px;margin-bottom: 0px;">
                            @Html.Raw(String.Join("<br/>",_original.ExpandContractLessonDetails(models, "■ ")))</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">顧問服務使用期限：自 @(String.Format("{0:yyyy/MM/dd}", _original.ValidFrom)) 起，至
                        @(String.Format("{0:yyyy/MM/dd}", _original.Expiration)) 止。</td>
                </tr>
                <tr style="border-width: 1px; border-top-style: dashed;">
                    <td colspan="2">服務申請內容：</td>
                </tr>
                <tr>
                    <td colspan="2">申請日期：@(String.Format("{0:yyyy/MM/dd}", _contract.ContractDate))</td>
                </tr>
                <tr>
                    <td colspan="2">項目：快速終止</td>
                </tr>
                <tr>
                    <td colspan="2">
                        申請說明：契約經雙方同意於 @(String.Format("{0:yyyy/MM/dd}", _signatureDate)) 終止服務，截至當日結算實際上課堂數如下：
                        <p style="margin-left:80px;margin-bottom: 0px;">
                            ■ 私人教練(P.T)OO堂，未完成服務OO堂，購買每堂單價2,000元。<br />
                            ■ 加購運動防護(A.T)OO堂，未完成服務OO堂，購買每堂單價2,000元。<br />
                            ■ 加購運動恢復(S.R)OO堂，未完成服務OO堂，購買每堂單價購1,000元。<br />
                            ■ 加購營養諮詢(S.D)OO個月，未完成服務OO月，購買每月單價3,000元。<br /><br />
                            以上按未完成服務堂數之購買單價計算終止轉收入餘額 <span class="col-red">@(String.Format("{0:##,###,###,##0}", refund))</span> 元整。
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">終止原因：@Html.Raw(_model.TerminationReason())
                        @if (_contract.Remark !=null)
                        {
                            <text>（@(_contract.Remark)）。</text>
                        }
                    </td>
                </tr>            
            </tbody>
        </table>
        <table class="table" style="font-size: 15px">
            <tr>
                <td class="p-t-0" width="40%"></td>
                <td class="p-0">Beyond Fitness超越體能顧問有限公司</td>
                <td rowspan="3" width="150px" class="p-0 text-right"><img src="images/sign/seal.png" width="150px" /></td>
            </tr>
            <tr>
                <td class="p-t-0"> </td>
                <td class="p-0">
                    主管簽約代表：
                    <img src="@(ViewBag.Supervisor != null ? ((UserProfile)ViewBag.Supervisor).UserProfileExtension.Signature :_contract.Supervisor?.UserProfileExtension.Signature)"
                        width="200px" class="modifySignDialog_link">
                </td>
            </tr>
            <tr>
                <td class="p-t-0"> </td>
                <td class="p-0">簽約體能顧問：<img src="@(_contract.ServingCoach.UserProfile.UserProfileExtension.Signature)" width="200px"
                        class="modifySignDialog_link" /></td>
            </tr>
            <tr>
                <td class="p-t-0"></td>
                <td class="p-0">日期：@(String.Format("{0:yyyy/MM/dd}", _signatureDate))</td>
            </tr>
        </table>
    </div>
</div>
