@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    Layout = "~/Views/LearnerActivity/Template/MainPage.cshtml";

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    var profile = (await Context.GetUserAsync()).LoadInstance(models);
    DailyBookingQueryViewModel _viewModel = (DailyBookingQueryViewModel)ViewBag.ViewModel;
    var items = profile.UID.PromptLearnerLessons(models)
                    .Where(l => l.ClassTime >= _viewModel.DateFrom)
                    .Where(l => l.ClassTime < _viewModel.DateTo);

    List<LessonTime> PTItems = new List<LessonTime>();
    List<LessonTime> PIItems = new List<LessonTime>();
    List<LessonTime> SRItems = new List<LessonTime>();

    foreach (var item in items.OrderBy(l => l.ClassTime))
    {
        if (item.RegisterLesson.LessonPriceType.Status == (int)Naming.LessonPriceStatus.運動恢復課程)
        {
            SRItems.Add(item);
        }
        else if (item.RegisterLesson.LessonPriceType.Status == (int)Naming.LessonPriceStatus.運動防護課程)
        {
        }
        else if (item.RegisterLesson.LessonPriceType.Status == (int)Naming.LessonPriceStatus.營養課程)
        {
        }
        else if (item.IsPTSession())
        {
            PTItems.Add(item);
        }
        else if (item.IsPISession())
        {
            PIItems.Add(item);
        }
        else if (item.IsTrialLesson())
        {
        }
        else if (item.IsSTSession())
        {
        }
    }

    var dailyItems = PTItems.GroupBy(l => l.ClassTime.Value.Date)
                        .Concat(PIItems.GroupBy(l => l.ClassTime.Value.Date))
                        .Concat(SRItems.GroupBy(l => l.ClassTime.Value.Date));
}

@section MainContent
{
    <div class="card header-card shape-rounded" data-card-height="310">
        <div class="card-overlay bg-beyond-dark opacity-95"></div>
    </div>
    <!--行事曆-->
    <div class="card card-style custom-rounded-card top-100">
        <div class="content text-center mt-5">
            <h2 class="letter-spacing-5 font-24">運動行事曆</h2>
            <p class="boxed-text-xl">Workout Calendar</p>
        </div>

        <div class="calendar bg-theme">
            <div class="cal-header">
                <h4 class="cal-title text-center text-uppercase font-800 bg-theme color-theme">@(_viewModel.DateFrom?.Year)年@($"{_viewModel.DateFrom:MM}")月</h4>
                <h6 class="cal-title-left color-theme" onclick='javascript:$("").launchDownload("@(Url.Action("Calendar","LearnerActivity"))",@Html.Raw((new { DateFrom = _viewModel.DateFrom.Value.AddMonths(-1)}).JsonStringify()));'><i class="fa fa-chevron-left color-beyondred-dark font-20"></i>&nbsp;</h6>
                <h6 class="cal-title-right color-theme" onclick='javascript:$("").launchDownload("@(Url.Action("Calendar","LearnerActivity"))",@Html.Raw((new { DateFrom = _viewModel.DateFrom.Value.AddMonths(1)}).JsonStringify()));'><i class="fa fa-chevron-right color-beyondred-dark font-20"></i>&nbsp;</h6>
            </div>
            <div class="clearfix"></div>
            <div class="divider mb-0"></div>
            <div class="cal-days bg-theme opacity-80 pt-2 pb-2">
                <a href="#" class="color-theme">週一</a>
                <a href="#" class="color-theme">週二</a>
                <a href="#" class="color-theme">週三</a>
                <a href="#" class="color-theme">週四</a>
                <a href="#" class="color-theme">週五</a>
                <a href="#" class="color-theme">週六</a>
                <a href="#" class="color-theme">週日</a>
                <div class="clearfix"></div>
            </div>

            <div class="divider mb-1"></div>
            <div class="cal-dates cal-dates-border">
                @{
                    // 創建日期對象並獲取當月的第一天和天數
                    DateTime firstDayOfMonth = _viewModel.DateFrom.Value.FirstDayOfMonth();
                    int daysInMonth = DateTime.DaysInMonth(_viewModel.DateFrom.Value.Year, _viewModel.DateFrom.Value.Month);

                    // 獲取當月第一天是星期幾 (0 表示星期日，1 表示星期一，依此類推)
                    int startDayOfWeek = (int)firstDayOfMonth.DayOfWeek;
                    startDayOfWeek = (startDayOfWeek == 0) ? 6 : startDayOfWeek - 1; // 調整為星期一開始

                    // 開始生成日曆
                    int currentDay = 1;
                    bool started = false;

                    for (int i = 0; i < 6; i++) // 最多 6 週
                    {
                        for (int j = 0; j < 7; j++)
                        {
                            if (!started && j == startDayOfWeek)
                            {
                                started = true; // 開始填入日期
                            }

                            if (started && currentDay <= daysInMonth)
                            {
                                if (currentDay <= daysInMonth)
                                {
                                    var dailyItem = dailyItems.Where(g => g.Key.Day == currentDay).FirstOrDefault();
                                    if (dailyItem != null)
                                    {
                                        String id = $"lesson{dailyItem.First().LessonID}";
                                        <a href="#@(id)" class="cal-event"><i class="fa fa-circle color-highlight"></i><span>@(currentDay)</span></a>
                                    }
                                    else
                                    {
                                        <a href="#">@(currentDay)</a>
                                    }
                                }
                                else
                                {
                                    <a href="#" class="cal-disabled">@(_viewModel.DateFrom.Value.AddDays(currentDay-daysInMonth).Day)</a>
                                }
                                currentDay++;
                            }
                            else
                            {
                                <a href="#" class="cal-disabled">@(_viewModel.DateFrom.Value.AddDays(-startDayOfWeek+j).Day)</a>
                            }
                        }

                        if (currentDay > daysInMonth)
                        {
                            break; // 日期已填完，結束循環
                        }
                    }
                }
                <div class="clearfix"></div>
            </div>

        </div>

    </div>

    <!--該月上課清單-->
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6">
            @if (PTItems.Any())
            {
                <!--P.T-->
                <div class="card card-style bg-beyond-dark">
                    <div class="content mx-4 mx-lg-5 mx-md-4 mt-5">
                        <div class="d-flex align-self-center">
                            <span class="icon icon-xl bg-beyond-dark rounded-s color-white">
                                <img src="../images/icons/session/trx.svg" width="40" class="me-3" />
                            </span>
                            <div>
                                <h4 class="mb-2 text-uppercase letter-spacing-2 font-20  color-white">
                                    體能訓練·<small class="ps-2 font-14 font-400 text-capitalize opacity-60">P.T Session</small>
                                </h4>
                                <svg width="100%" height="10" xmlns="http://www.w3.org/2000/svg" class="mt-2 mb-0">
                                    <rect x="0" y="0" width="50" height="3" rx="3" ry="3" fill="#E76751" />
                                </svg>
                            </div>
                        </div>
                        @foreach (var item in PTItems)
                        {
                            <div class="clearfix"></div>
                            <a id="@($"lesson{item.LessonID}")" href="javascript:gotoCourse('@Html.Raw(item.LessonID.EncryptKey())');" class="d-flex my-5">                                
                                <div class="align-self-start ms-3 me-auto">
                                    <h5 class="letter-spacing-2 color-white">@Html.Raw(item.TrainingPlan.FirstOrDefault()?.TrainingExecution.Emphasis ?? "重點稍後揭曉，一起加油達標")</h5>                                                                                                            
                                    <span class="font-14 color-white opacity-40 letter-spacing-1">@($"{item.ClassTime:yyyy/MM/dd HH:mm}")</span>                                                                                                     
                                </div>
                                <div class="align-self-center me-1">
                                    <span class="font-400 font-13 color-beyondwhite-dark float-end"><i class="fa-solid fa-location-dot px-2 pb-1 d-block d-lg-inline d-md-block"></i>@Html.Raw(item.BranchStore?.BranchName ?? item.Place)</span>  
                                </div>
                                <div class="align-self-center">                                    
                                    <i class="fa fa-angle-right color-white opacity-20"></i>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            }
            @if (PIItems.Any())
            {
                <!--P.I-->
                <div class="card card-style bg-beyond-dark">
                    <div class="content mx-4 mx-lg-5 mx-md-4 mt-5">
                        <div class="d-flex align-self-center">
                            <span class="icon icon-xl bg-beyond-dark rounded-s color-white">
                                <img src="../images/icons/session/core.svg"
                                     width="40" class="me-3">
                            </span>
                            <div>
                                <h4 class="mb-2 text-uppercase letter-spacing-2 font-20  color-white">
                                    自主訓練·<small class="ps-2 font-14 font-400 text-capitalize opacity-60">P.I Session</small>
                                </h4>
                                <svg width="100%" height="10" xmlns="http://www.w3.org/2000/svg" class="mt-2 mb-0">
                                    <rect x="0" y="0" width="50" height="3" rx="3" ry="3" fill="#E76751" />
                                </svg>
                            </div>
                        </div>
                        @foreach (var item in PIItems)
                        {
                            <div class="clearfix"></div>
                            <a id="@($"lesson{item.LessonID}")" href="javascript:gotoCourse('@Html.Raw(item.LessonID.EncryptKey())');" class="d-flex my-5">
                                <div class="align-self-start ms-3 me-auto">
                                    <h5 class="letter-spacing-2 color-white">@Html.Raw(item.TrainingPlan.FirstOrDefault()?.TrainingExecution.Emphasis ?? "重點稍後揭曉，一起加油達標")</h5>
                                    <span class="font-14 color-white opacity-40 letter-spacing-1">@($"{item.ClassTime:yyyy/MM/dd HH:mm}")</span>
                                </div>
                                <div class="align-self-center me-1">
                                    <span class="font-400 font-13 color-beyondwhite-dark float-end"><i class="fa-solid fa-location-dot px-2 pb-1 d-block d-lg-inline d-md-block"></i>@Html.Raw(item.BranchStore?.BranchName ?? item.Place)</span>  
                                </div>
                                <div class="align-self-center">                                    
                                    <i class="fa fa-angle-right color-white opacity-20"></i>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
        @if (SRItems.Any())
        {
            <!--S.R-->
            <div class="col-12 col-lg-6 col-md-6">
                <div class="card card-style bg-beyond-dark">
                    <div class="content mx-4 mx-lg-5 mx-md-4 mt-5">
                        <div class="d-flex align-self-center">
                            <span class="icon icon-xl bg-beyond-dark rounded-s color-white">
                                <img src="../images/icons/session/joint.svg" width="40" class="me-3">
                            </span>
                            <div>
                                <h4 class="mb-2 text-uppercase letter-spacing-2 font-20  color-white">
                                    運動恢復·<small class="ps-2 font-14 font-400 text-capitalize opacity-60">S.R Session</small>
                                </h4>
                                <svg width="100%" height="10" xmlns="http://www.w3.org/2000/svg" class="mt-2 mb-0">
                                    <rect x="0" y="0" width="50" height="3" rx="3" ry="3" fill="#E76751" />
                                </svg>
                            </div>
                        </div>
                        @foreach (var item in SRItems)
                        {
                            <div class="clearfix"></div>
                            <a id="@($"lesson{item.LessonID}")" href="javascript:gotoCourse('@Html.Raw(item.LessonID.EncryptKey())');" class="d-flex my-5">
                               <div class="align-self-start ms-3 me-auto">
                                    <h5 class="letter-spacing-2 color-white">@Html.Raw(item.TrainingPlan.FirstOrDefault()?.TrainingExecution.Emphasis ?? "重點稍後揭曉，一起加油達標")</h5>
                                    <span class="font-14 color-white opacity-40 letter-spacing-1">@($"{item.ClassTime:yyyy/MM/dd HH:mm}")</span>                                    
                                </div>
                                <div class="align-self-center me-1">
                                    <span class="font-400 font-13 color-beyondwhite-dark float-end"><i class="fa-solid fa-location-dot px-2 pb-1 d-block d-lg-inline d-md-block"></i>@Html.Raw(item.BranchStore?.BranchName ?? item.Place)</span>  
                                </div>
                                <div class="align-self-center">                                    
                                    <i class="fa fa-angle-right color-white opacity-20"></i>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <script>
        function gotoCourse(keyID) {
            $('').launchDownload('@Html.Raw(Url.Action("CourseItem", "LearnerActivity"))',{'keyID':keyID, 'from': '@Html.Raw(Url.Action("ContactBook","LearnerActivity"))'});
        }
    </script>

}
