@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using System.Web
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using WebHome.Models.Resources
@using WebHome.Properties
@using WebHome.Models.Timeline

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    Layout = "~/Views/LearnerActivity/Page.zh-TW/EventTemplate.cshtml";
    ViewBag.From = "Events";

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    ViewBag.EventCatelog = 0;

}

@section EventList
{
    <h4 class="mb-2 text-uppercase letter-spacing-2 d-inline font-20">待完成任務·<small class="ps-2 font-14 font-400 text-capitalize opacity-60">Tasks</small></h4>

    <svg width="100%" height="10" xmlns="http://www.w3.org/2000/svg" class="mt-3 mb-5">

        <rect x="0" y="0" width="50" height="3" rx="3" ry="3" fill="#E76751"></rect>

    </svg>

    <div class="clearfix"></div>
    @{
        List<TimelineEvent> events = (List<TimelineEvent>)ViewBag.UserNotice;
        SelfAssessmentEvent assessmentEvents = (SelfAssessmentEvent)events.Where(v => v is SelfAssessmentEvent && !(v is FeedbackSurveyEvent)).FirstOrDefault();
    }
    @{
        FeedbackSurveyEvent surveyEvents = (FeedbackSurveyEvent)events.Where(v => v is FeedbackSurveyEvent).FirstOrDefault();
        if (surveyEvents != null)
        {
            foreach (var item in surveyEvents.LessonList.OrderByDescending(l=>l.ClassTime))
            {
                <div class="d-flex" onclick="javascript:gotoFeedback('@Html.Raw(item.LessonID.EncryptKey())');">
                    <div>
                        <a href="survey-class-startstyle.html" class="icon icon-l bg-transparent"><i class="font-30 fst-normal px-2">😊</i></a>
                    </div>
                    <div class="align-self-center ps-2">
                        <h5 class="font-600 font-17 mb-1">職人質量檢視<small class="font-400 d-block">Assessment</small></h5>
                        @if (item.IsSRSession())
                        {
                            <span class="font-15 color-theme opacity-60 letter-spacing-1">恢復按摩<small class="font-400 color-theme ps-1">S.R</small></span>
                        }
                        else if (item.IsPISession())
                        {
                            <span class="font-15 color-theme opacity-60 letter-spacing-1">自主體能訓練<small class="font-400 color-theme">P.I</small></span>
                        }
                        else if (item.RegisterLesson.LessonPriceType.Status == (int)Naming.LessonPriceStatus.團體課程)
                        {
                            <span class="font-15 color-theme opacity-60 letter-spacing-1">體能訓練<small class="font-400 color-theme">Group X</small></span>
                        }
                        else
                        {
                            <span class="font-15 color-theme opacity-60 letter-spacing-1">體能訓練<small class="font-400 color-theme">P.T</small></span>
                        }
                    </div>
                    <div class="align-self-center ms-auto me-3">
                        <span class="color-theme d-block text-end font-13 letter-spacing-1">@($"{item.ClassTime:yyyy/MM/dd}")</span>
                        <h5 class="mb-0 text-end font-400 font-13 letter-spacing-1">@($"{item.ClassTime:HH:mm}")</h5>
                    </div>
                    <div class="align-self-center">
                        <i class="fa fa-angle-right color-theme opacity-50 font-16"></i>
                    </div>
                </div>
                <div class="divider mt-4 mb-4"></div>
            }
        }
    }
    @if (assessmentEvents != null)
    {
        foreach (var item in assessmentEvents.LessonList.OrderByDescending(l=>l.ClassTime))
        {
            <div class="d-flex" onclick="javascript:gotoHealthyCheck('@Html.Raw(item.LessonID.EncryptKey())');">
                <div>
                    <a href="#" class="icon icon-l bg-transparent color-red-dark"><i class="fa-solid fa-heart font-30"></i></a>
                </div>
                <div class="align-self-center ps-2">
                    <h5 class="font-600 font-17 mb-1">健康自評<small class="font-400 d-block">Waiver</small></h5>
                    @if (item.IsPTOrSRSession())
                    {
                        <span class="font-15 color-theme opacity-60 letter-spacing-1">體能訓練<small class="font-400 color-theme ps-1">P.T</small></span>
                    }
                    else if (item.IsPISession())
                    {
                        <span class="font-15 color-theme opacity-60 letter-spacing-1">自主體能訓練<small class="font-400 color-theme">P.I</small></span>
                    }
                    else if (item.RegisterLesson.LessonPriceType.Status == (int)Naming.LessonPriceStatus.團體課程)
                    {
                        <span class="font-15 color-theme opacity-60 letter-spacing-1">體能訓練<small class="font-400 color-theme">Group X</small></span>
                    }
                </div>

                <div class="align-self-center ms-auto me-3">
                    <span class="color-theme d-block text-end font-13">@($"{item.ClassTime:yyyy/MM/dd}")</span>
                    <h5 class="mb-0 text-end font-400 font-13 letter-spacing-1">@($"{item.ClassTime:HH:mm}")</h5>
                </div>

                <div class="align-self-center">
                    <i class="fa fa-angle-right color-theme opacity-50 font-16"></i>
                </div>
            </div>
            <div class="divider mt-4 mb-4"></div>
        }
    }

    <script>

    function gotoHealthyCheck(keyID) {
        $('').launchDownload('@Html.Raw(Url.Action("TakeSelfAssessment", "LearnerActivity"))', { 'keyID': keyID, 'from': '@Html.Raw(Url.Action("Events","LearnerActivity"))' });
    }

    function gotoFeedback(keyID) {
        $('').launchDownload('@Html.Raw(Url.Action("TakeFeedbackSurvey", "LearnerActivity"))', { 'keyID': keyID, 'from': '@Html.Raw(Url.Action("Events","LearnerActivity"))' });
    }

    </script>
}
