@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    Layout = "~/Views/LearnerActivity/Template/SimplePage.cshtml";
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    ViewBag.MainClass = "home";
    ViewBag.MenuDark = false;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    var profile = await Context.GetUserAsync();
}

<!-- header and footer bar go here-->
@RenderSection("Header", false)


@RenderSection("FooterBar", false)

<div class="page-content">

    <div class="page-title page-title-small">
        <h2 class="letter-spacing-2 color-white">
            從喜歡自己開始<small class="font-15 font-600 color-highlight d-block custom-font-secondary fst-italic">
                Start from Liking Yourself
            </small>
        </h2>

        <a href="javascript:void(0);" data-menu="menu-main" class="bg-fade-highlight-light shadow-xl preload-img"
           data-src="@(profile.PictureID.HasValue
                              ? VirtualPathUtility.ToAbsolute("~/Information/GetResource/") + profile.PictureID + "?stretch=true"
                              : "../images/avatars/garfaild.png")"></a>

    </div>

    @RenderBody()

</div>
<!-- end of page content-->

<div id="menu-main" class="menu menu-box-left menu-box-detached rounded-m" data-menu-width="cover"
     data-menu-load="MenuItem" data-menu-active="nav-welcome" data-menu-effect="menu-over">
</div>



<!--Go To Official Artical-->

<div id="popup-official" class="menu menu-box-top" data-menu-width="cover" data-menu-load="OfficialArtical" data-menu-effect="menu-over">

</div>

@RenderSection("PopupBox", false)

<script>
    function closeMenu() {
        const activeMenu = document.querySelectorAll('.menu-active');        for (let i = 0; i < activeMenu.length; i++) { activeMenu[i].classList.remove('menu-active'); }        for (let i = 0; i < wrappers.length; i++) { wrappers[i].style.transform = "translateX(-" + 0 + "px)" }    }
</script>