

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
   ModelStateDictionary _modelState;
   ModelSource<UserProfile> models;

   _modelState = (ModelStateDictionary)ViewBag.ModelState;
   models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;

   await Html.RenderPartialAsync("~/Views/MainActivity/Template/GlobalResource.cshtml");
   dynamic globalResource = ViewContext.HttpContext.Items["GlobalResource"] as dynamic;
   dynamic commonAll = globalResource["Common"][ViewBag.Lang ?? "zh-TW"] as dynamic;
   dynamic partners = commonAll.PartnerItem;
}

<div id="custom-content" class="white-popup-block bg-transparent white-popup-block-lg partner-info">
   <div class="row">
      <div class="col">
         <div class="card border-0">
            <div class="card-body">
               <div class="row px-0 px-lg-5 px-md-3">
                  <div class="col-12">
                     <h2
                        class="text-color-tertiary font-weight-semi-bold mb-2 positive-ls-5 text-uppercase d-flex justify-content-center">
                        @Html.Raw(commonAll.Partner)
                     </h2>
                     <span
                        class="text-3-4 font-weight-medium positive-ls-10 d-block d-flex justify-content-center">@Html.Raw(commonAll.PartnerDesc)</span>
                     <p class="mt-3"> @Html.Raw(commonAll.PartnerMessage)</p>
                  </div>
                  <div class="col-12 pt-5">
                     <h4 class="catagory-title">@Html.Raw(commonAll.Related)</h4>
                     <h4 class="catagory-title-zh">@Html.Raw(commonAll.RelatedDesc)</h4>
                     <div class="row d-flex justify-content-center">
                        @{                           
                           if (partners != null)
                           {
                              JArray partner = partners as JArray;

                              dynamic[] item = partner.Where(c => (int)c["PlaceOrder"] == 1).ToArray();
                              for (int i = 0; i < item.Length; i++)
                              {
                                 <div class="col-6 col-lg-auto col-md-auto">
                                    <a href="@Html.Raw(item[i].link)" target="_blank">
                                       <img width="120" src="@Html.Raw(item[i].LogoIconC)" alt="BeyondFitness|合作夥伴" />
                                    </a>
                                 </div>
                              }
                           }
                        }                                             
                     </div>
                  </div>
                  <div class="col-12 pt-5">
                     <h4 class="catagory-title">@Html.Raw(commonAll.Medical)</h4>
                     <h4 class="catagory-title-zh">@Html.Raw(commonAll.MedicalDesc)</h4>
                     <div class="row d-flex justify-content-center">                        
                        @{
                           if (partners != null)
                           {
                              JArray partner = partners as JArray;

                              dynamic[] item = partner.Where(c => (int)c["PlaceOrder"] == 2).ToArray();
                              for (int i = 0; i < item.Length; i++)
                              {
                                 <div class="col-6 col-lg-auto col-md-auto">
                                    <a href="@Html.Raw(item[i].link)" target="_blank">
                                       <img width="120" src="@Html.Raw(item[i].LogoIconC)" alt="BeyondFitness|合作夥伴" />
                                    </a>
                                 </div>
                              }
                           }
                        }
                     </div>
                  </div>
                  <div class="col-12 pt-5">
                     <h4 class="catagory-title">@Html.Raw(commonAll.PublicGroup)</h4>
                     <h4 class="catagory-title-zh">@Html.Raw(commonAll.PublicGroupDesc)</h4>
                     <div class="row  d-flex justify-content-center">
                        @{
                           if (partners != null)
                           {
                              JArray partner = partners as JArray;

                              dynamic[] item = partner.Where(c => (int)c["PlaceOrder"] == 3).ToArray();
                              for (int i = 0; i < item.Length; i++)
                              {
                                 <div class="col-6 col-lg-auto col-md-auto">
                                    <a href="@Html.Raw(item[i].link)" target="_blank">
                                       <img width="120" src="@Html.Raw(item[i].LogoIconC)" alt="BeyondFitness|合作夥伴" />
                                    </a>
                                 </div>
                              }
                           }
                        }
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>