
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@using WebHome.Models.Resources

@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;

    _modelState = (ModelStateDictionary) ViewBag.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];

    String menuClass = "bg-transparent bg-color-before-light text-color-light";
    String hamburguerClass = "hamburguer-btn-light";
    String logoImg = "logo-default-slim.svg";

    if (ViewBag.MenuDark == true) {
        menuClass = "bg-color-before-dark text-color-dark";
        hamburguerClass = "";
        logoImg = "logo-default-slim-dark.svg";
    }
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";
    await Html.RenderPartialAsync("~/Views/MainActivity/Template/GlobalResource.cshtml");
    dynamic globalResource = ViewContext.HttpContext.Items["GlobalResource"] as dynamic;
    dynamic commonAll = globalResource["Common"][lang] as dynamic;

}
<div class="sticky-wrapper sticky-wrapper-transparent p-absolute">
    <div class="sticky-body">
        <div class="container-fluid">
            <div class="row py-3 pe-3 px-xl-5 px-lg-3 px-md-5 justify-content-between align-items-center">
                <div class="col-7 col-lg-1 col-md-2 col-sm-7">
                    <div class="py-4">
                        <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/Index"))">
                            <img alt="Beyond Fitness" width="80" height="38" src="../images/@(logoImg)">
                        </a>
                    </div>
                </div>
                <div class="col-11 hidden-md-down text-end">
                    <div class="d-none d-md-flex justify-content-end">
                        <div class="pe-3">
                            <ul class="list-inline mt-3 me-lg-3 me-md-3">
                                <li class="list-inline-item me-xl-5 me-lg-4 me-md-3">
                                    <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/Aboutus"))"
                                        class="btn btn-link-effect-1 btn-link-underline-1 px-0 py-0 @(menuClass) border-0  font-weight-semi-bold text-decoration-none">@Html.Raw(commonAll.AboutUs)</a>
                                </li>
                                <li class="list-inline-item me-xl-5 me-lg-4 me-md-3">
                                    <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/FindUs"))"
                                        class="btn btn-link-effect-1 btn-link-underline-1 px-0 py-0 @(menuClass) border-0  font-weight-semi-bold text-decoration-none">@Html.Raw(commonAll.FindUs)</a>
                                </li>
                                <li class="list-inline-item me-xl-5 me-lg-4 me-md-3">
                                    <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/Service"))"
                                        class="btn btn-link-effect-1 btn-link-underline-1 px-0 py-0 @(menuClass) border-0  font-weight-semi-bold text-decoration-none">@Html.Raw(commonAll.Service)</a>
                                </li>
                                <li class="list-inline-item me-xl-5 me-lg-4 me-md-3">
                                    <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/Session"))"
                                        class="btn btn-link-effect-1 btn-link-underline-1 px-0 py-0 @(menuClass) border-0  font-weight-semi-bold text-decoration-none">@Html.Raw(commonAll.Session)</a>
                                </li>
                                <li class="list-inline-item me-xl-5 me-lg-4 me-md-3">
                                    <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/FAQ"))"
                                        class="btn btn-link-effect-1 btn-link-underline-1 px-0 py-0 @(menuClass) border-0  font-weight-semi-bold text-decoration-none">@Html.Raw(commonAll.FAQ)</a>
                                </li>
                                <li class="list-inline-item me-xl-5 me-lg-4 me-md-3">
                                    <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/JoinUs"))"
                                        class="btn btn-link-effect-1 btn-link-underline-1 px-0 py-0 @(menuClass) border-0  font-weight-semi-bold text-decoration-none">@Html.Raw(commonAll.JoinUs)</a>
                                </li>
                                <li class="list-inline-item me-xl-5 me-lg-4 me-md-3">
                                    <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/BookNow"))"
                                        class="btn btn-link-effect-1 btn-link-underline-1 px-0 py-0 @(menuClass) border-0  font-weight-semi-bold text-decoration-none">@Html.Raw(commonAll.Booking)</a>
                                </li>
                                 @*<li class="list-inline-item">
                                    <div class="header-nav-feature header-nav-features-cart d-inline-flex ms-2">                                        
                                        @{
                                            await Html.RenderPartialAsync("~/Views/MainActivity/Module/LanguageMenuItem.cshtml");
                                        }
                                    </div>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-md-8 text-end hidden-lg-up">
                    <div class="header-nav-feature header-nav-features-cart d-inline-flex ms-2">
                        @{
//await Html.RenderPartialAsync("~/Views/MainActivity/Module/LanguageMenuItem.cshtml");
                        }
                        <script>
                            var reloadPage;
                            function changeLanguage(lang) {
                                $.post('@(Url.Action("ChangeLanguage", "Official"))', { 'lang': lang }, function (data) {
                                    if ($.isPlainObject(data)) {
                                        if (data.result) {
                                            if (reloadPage) {
                                                reloadPage();
                                            } else {
                                                window.location.reload();
                                            }
                                        }
                                    } else {
                                        $(data).appendTo($('body'));
                                    }
                                });
                            }
                        </script>
                    </div>
                </div>
                <div class="col-2 text-end hidden-lg-up">
                    <button class="hamburguer-btn @(hamburguerClass)" data-set-active="false">
                        <span class="hamburguer">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>                
            </div>
        </div>
    </div>
</div>