@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using System.Web

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources
@using WebHome.Properties
@using WebHome.Helper.BusinessOperation

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    var profile = await Context.GetUserAsync();

}
@{

    CourseContractQueryViewModel viewModel = new CourseContractQueryViewModel
    {
        MemberID = profile.UID,
        ContractQueryMode = Naming.ContractServiceMode.ContractOnly,
        CurrentIndex = (ViewBag.ViewModel as QueryViewModel)?.CurrentIndex ?? 0,
    };

    IQueryable<CourseContract> items = viewModel.InquireContract(models)
        .Where(c => c.Status > (int)Naming.CourseContractStatus.已生效)
        .OrderByDescending(l => l.Expiration)
        .Skip(viewModel.CurrentIndex.Value * 10)
        .Take(10);
}
@{
    var idx = 0;
    var iconDisplay = "fa-solid fa-user";
    foreach (var item in items)
    {
        idx++;
        if (item.CourseContractType.ContractCode.StartsWith("CN"))
        {
            iconDisplay = "fa-solid fa-apple-whole";
        }
        else if (item.CourseContractType.ContractCode.StartsWith("CR"))
        {
            iconDisplay = "fa-solid fa-hands";
        }
        else if (item.CourseContractType.ContractCode.StartsWith("CI"))
        {
            iconDisplay = "fa-regular fa-user";
        }
        else
        {
            iconDisplay = "fa-solid fa-user";
        }
        if (idx > 1 || viewModel.CurrentIndex > 0)
        {
            <div class="divider mt-4 mb-4"></div>
        }
        <div class="d-flex" onclick="javascript:gotoContractInfo('@Html.Raw(item.ContractID.EncryptKey())');">
            <div>
                <a href="javascript:gotoContractInfo('@Html.Raw(item.ContractID.EncryptKey())');"
                   class="icon icon-l bg-beyond-dark color-beyondwhite-dark rounded-m shadow-xl">
                    <i class="@(iconDisplay) font-24"></i>
                </a>
            </div>
            <div class="align-self-center ps-3">
                <h5 class="font-500 font-18 mb-1 letter-spacing-1">@(item.CourseContractType.TypeName.CutString('-'))</h5>
                <span class="font-15 color-theme opacity-60 letter-spacing-1">@($"{item.ValidFrom:yyyy/MM/dd}")</span>
            </div>
            <div class="align-self-center ms-auto me-3">
                <h5 class="mb-0 text-end font-400">@(item.Lessons)</h5>
            </div>
            <div class="align-self-center">
                <i class="fa fa-angle-right color-highlight font-16"></i>
            </div>
        </div>
    }
    if (items.Any())
    {
        <script>
            currentIndex ++;
        </script>
    }
    else
    {
        <script>
            currentIndex = -1;
        </script>
    }
}
