@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Http
@using System.Web

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources
@using WebHome.Properties
@using WebHome.Helper.BusinessOperation

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    LessonTime lesson = this.Model as LessonTime;
    LessonPriceType priceItem = lesson?.RegisterLesson.LessonPriceType;
    var learners = lesson.GroupingLesson.RegisterLesson.Select(r => r.UserProfile);
}
<div class="menu-title">
    <h1 class="boxed-text-xl font-28 color-beyondred-light letter-spacing-5">@Html.Raw(priceItem.SessionName)</h1>
    <p class="text-center pt-3 font-18"><i class="fa-solid fa-fire-flame-curved px-2"></i>@(priceItem.DurationInMinutes) Min</p>
</div>
<div class="content">
    <div class="row mb-5">
        <div class="col-12 text-center">
            @foreach (var u in learners)
            {
                <img src="@Html.Raw($"{VirtualPathUtility.ToAbsolute("~/Information/GetResource")}/{u.PictureID}?stretch=true")" class="rounded-xl avatar-rounded-circle bg-beyondwhite-light" />
            }
        </div>
    </div>
    <div class="row mb-0">       
        <div class="col-4">
            <p class="color-theme font-700 font-16 letter-spacing-1 mb-2">上課學生</p>
        </div>
        <div class="col-8">
            <p class="color-theme opacity-60 letter-spacing-1 float-end">
                @Html.Raw(String.Join("/",learners.Select(u=>u.RealName)))
            </p>
        </div>
        <div class="col-4">
            <p class="color-theme font-700 font-16 letter-spacing-1 mb-2">體能顧問</p>
        </div>
        <div class="col-8">
            <p class="color-theme opacity-60 letter-spacing-1 float-end">@Html.Raw(lesson?.AsAttendingCoach.UserProfile.FullName())</p>
        </div>
        <div class="divider w-100 my-3 bg-beyondwhite-dark opacity-40"></div>
        <div class="col-4">
            <p class="color-theme font-700 font-16 letter-spacing-1 mb-2">上課地點</p>
        </div>
        <div class="col-8">
            <p class="color-theme opacity-60 letter-spacing-1 float-end"><i class="fa-solid fa-location-dot pe-2"></i>@Html.Raw(lesson?.BranchStore?.BranchName)</p>
        </div>
        <div class="col-4">
            <p class="color-theme font-700 font-16 letter-spacing-1 mb-2">上課時間</p>
        </div>
        <div class="col-8">
            <p class="color-theme opacity-60 letter-spacing-1 float-end">@($"{lesson?.ClassTime:yyyy/MM/dd HH:mm}")</p>
        </div>        
        <div class="col-5">
            <p class="color-theme font-700 font-16 letter-spacing-1 mb-2">學生簽到時間</p>
        </div>
        <div class="col-7">
            <p class="color-theme opacity-60 letter-spacing-1 float-end">@($"{lesson?.LessonPlan?.CommitAttendance:yyyy/MM/dd HH:mm}")</p>
        </div>      
    </div>
    <div class="my-5"></div>
    <a href="javascript:gotoCourse('@Html.Raw(lesson.LessonID.EncryptKey())');" data-menu="health-declaration-2"
        class="btn btn-full rounded-xl btn-margins border-light border-opacity-50 color-beyondwhite-dark  bg-beyond-dark font-500 px-3 py-2 font-15 mt- letter-spacing-2 fst-italic">上課內容</a>
</div>