

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _modelState = ViewContext.ModelState;
    ViewBag.MainClass = "aboutus";
    ViewBag.MenuDark = true;

    Layout = "~/Views/MainActivity/Template/MainPage.cshtml";
    await Html.RenderPartialAsync("~/Views/MainActivity/Template/GlobalResource.cshtml");
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";
    dynamic globalResource = ViewContext.HttpContext.Items["GlobalResource"] as dynamic;
    dynamic commonAll = globalResource["Common"][lang] as dynamic;
    dynamic aboutusAll = globalResource["AboutUs"][lang] as dynamic;

}

@section CustomHeader {
<meta name="description"
    content="Beyond Fitness 提供個人客製化運動表現，一對一健身課程,科學健身、專業健身教、營養規劃、增肌減脂、運動表現、體能訓練服務、營養諮詢，運動按摩恢復，銀髮健身、孕婦健身、運動傷害防護，企業團隊健康策略，專業運動教育培訓，與企業健康顧問等服務。" />
}
<!--Banner-->
<section class="section border-0 m-0 p-0 banner container-background">
   <div class="container pt-5 h-100 handwriting-title">
      <a href="#main"
         class="slider-scroll-button slider-scroll-button-light position-absolute bottom-10 left-50pct transform3dx-n50"
         data-hash="" data-hash-offset="0" data-hash-offset-lg="80">Sroll To Bottom</a>
   </div>
</section>
<!--信念-->
<section class="section section-no-background section-text-dark py-5" id="main">
   <div class="row py-5">
      <div class="col-12 text-center py-5">
         <h2
            class="text-color-tertiary font-weight-semi-bold mb-2 positive-ls-5 text-uppercase d-flex justify-content-center">
            @Html.Raw(aboutusAll.Philosophy)
         </h2>
         <span
            class="text-3-4 font-weight-medium positive-ls-10 d-block d-flex justify-content-center">@Html.Raw(aboutusAll.PhilosophyDesc)</span>

         <div class="divider divider-tertiary divider-small divider-small-center divider-xxs py-4 ">
            <hr class="my-0" style="width: 50px; height: 3px;">
         </div>

      </div>
      <div class="col-12 col-xl-5 col-lg-6">
         <div class="w-xl-75pct w-lg-100pct float-none float-lg-end px-0 px-xl-0 px-lg-5 px-md-5 pe-xl-0 pe-lg-2">
            <div class="px-0 px-lg-5 px-md-0">
               <h3 class="font-weight-bold line-height-6 text-center text-lg-start">
                  @Html.Raw(aboutusAll.PhilosophySlogan)
               </h3>
               <p class="px-5 px-lg-0 px-md-5">
                  @Html.Raw(aboutusAll.PhilosophyMessage1)
               </p>
               <p class="px-5 px-lg-0 px-md-5 font-weight-medium text-center text-lg-start">
                  @Html.Raw(aboutusAll.PhilosophyMessage2)
               </p>
               <div class="d-flex justify-content-center justify-content-lg-start justify-content-md-center">
                  <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/BookNow"))"
                     class="btn border-color-dark btn-rounded fst-italic font-weight-normal text-2 mt-3">@Html.Raw(commonAll.BookNow)</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-12 col-xl-7 col-lg-6 p-0 align-self-center">
         <img class="philosophy-img position-relative mt-lg-0 mt-md-5" alt="BeyondFitness|信念"
            src="../images/aboutus/philosophy-lg.png">   
      </div>
   </div>
</section>
<!--發展脈絡-->
<section class="section section-no-background section-text-dark  pb-5 pt-0 pt-lg-5 pt-md-0 mb-0 mb-lg-0 mb-md-5">
   <div class="row pb-5 pt-0 pt-lg-5 pt-md-0 mb-5">
      <div
         class="col-12 col-xl-6 col-lg-5 p-0 d-flex align-self-start hidden-sm-down order-2 order-lg-1 order-md-2 pe-0 pe-lg-0 pe-md-5">
         <img class="business-img appear-animation appear-animation-visible position-relative pe-0 pe-lg-0 pe-md-5 mt-5"
            alt="BeyondFitness|加入我們" src="../images/aboutus/business.png" data-appear-animation="fadeInRightShorter"
            data-appear-animation-delay="200" data-appear-animation-duration="2.5s">

      </div>
      <div class="col-12 col-xl-6 col-lg-7 col-md-12 order-1 order-lg-2 order-md-1">
         <div class="w-xl-75pct w-lg-100pct px-0 px-xl-0 px-lg-5 px-md-5 ps-xl-0 ps-lg-2 ps-md-0">
            <div class="px-0 px-lg-5 px-md-0">
               <h2
                  class="text-color-tertiary font-weight-semi-bold mb-2 positive-ls-5 text-uppercase text-center text-lg-start">
                  @Html.Raw(aboutusAll.Business)
               </h2>
               <span
                  class="text-3-4 font-weight-medium positive-ls-10 d-block text-center text-lg-start">@Html.Raw(aboutusAll.BusinessDesc)</span>
               <div class="divider divider-tertiary divider-small divider-xxs py-4 hidden-md-down">
                  <hr class="my-0" style="width: 50px; height: 3px;">
               </div>
               <div class="divider divider-tertiary divider-small divider-small-center divider-xxs py-4 hidden-lg-up">
                  <hr class="my-0" style="width: 50px; height: 3px;">
               </div>
               <h3 class="font-weight-bold line-height-5 text-center text-lg-start">
                  @Html.Raw(aboutusAll.BusinessSlogan)
               </h3>
               <p class="px-5 px-lg-0 px-md-5">
                  @Html.Raw(aboutusAll.BusinessMessage)
               </p>
               <div class="d-flex justify-content-center justify-content-lg-start justify-content-md-center">
                  <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/JoinUs"))"
                     class="btn border-color-dark btn-rounded fst-italic font-weight-normal text-2">@Html.Raw(commonAll.JoinUsGo)</a>
               </div>
            </div>

         </div>
      </div>
   </div>
</section>
<!-- // Slogan -->
@{
    await Html.RenderPartialAsync("~/Views/MainActivity/Module/ContactItem.cshtml");
}
<!--Vision願景-->
<section class="section bg-color-primary section-text-dark border-0 p-0 mt-0 mb-0 border-0 py-0 py-lg-5 py-md-5">
   <div class="row pt-5">
      <div class="col-12 pt-5">
         <h2
            class="text-color-tertiary font-weight-semi-bold mb-2 positive-ls-5 text-uppercase d-flex justify-content-center">
            @Html.Raw(aboutusAll.Vision)
         </h2>
         <span class="text-3-4 font-weight-medium positive-ls-10 d-block d-flex justify-content-center">
            @Html.Raw(aboutusAll.VisionDesc)</span>


         <div class="divider divider-tertiary divider-small divider-small-center divider-xxs py-4 ">
            <hr class="my-0" style="width: 50px; height: 3px;">
         </div>
      </div>
   </div>
   <div class="row py-0 py-lg-5 py-md-5 px-0 px-lg-5 px-md-5">
      <div class="col-12 col-lg-6 col-md-12 pb-5">
         <div class="w-xl-75pct w-lg-100pct w-md-100pct float-none float-lg-end px-0 px-xl-5 px-lg-4 px-md-0">
            <h3 class="font-weight-bold line-height-5 text-center text-lg-start">
               @Html.Raw(aboutusAll.VisionSlogan)
            </h3>
            <div class="px-5 px-lg-0 px-md-5">
               @Html.Raw(aboutusAll.VisionMessage)
            </div>
         </div>
      </div>
      <div class="col-12 col-lg-6 col-md-12 text-center yotube container-background">
         <div class="container container-xl-custom h-100 popup-youtube" style="cursor: pointer;"
            href="https://www.youtube.com/watch?v=dJj8pUK14HI">

         </div>
      </div>
   </div>
</section>

@section TailPageJavaScriptInclude {

}