@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    Layout = "~/Views/MainActivity/Template/MainPage.cshtml";
    ViewBag.MainClass = "home";
    ViewBag.MenuDark = false;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";
    await Html.RenderPartialAsync("~/Views/MainActivity/Template/GlobalResource.cshtml");
    dynamic globalResource = ViewContext.HttpContext.Items["GlobalResource"] as dynamic;
    dynamic homeAll = globalResource["Home"][lang] as dynamic;
    dynamic serviceAll = globalResource["Service"][lang] as dynamic;
    dynamic commonAll = globalResource["Common"][lang] as dynamic;
    dynamic joinUsAll = globalResource["JoinUs"][lang] as dynamic;
    dynamic findUsAll = globalResource["FindUs"][lang] as dynamic;
}

@section CustomHeader {
    <meta name="description"
        content="BeyondFitness透過一對一專業教練暖心指導並提供安全的訓練環境，上課內容包含專業訓練、增肌減脂，運動傷害、物理治療、營養規劃與運動防護一次包辦！透過科學化方法創造人性化之專屬個人健康分析資料庫+雲端數據化紀錄，保證更有效率的為您增進心肺、肌力與體能，即使為新手初學者也能達成理想的體態與健康目標。台北各區皆設有分店：台北小巨蛋、東門、台北東區與信義安和分店歡迎您隨時來免費體驗。">
}

<!--Banner-->
<div class="banner owl-carousel owl-theme owl-carousel-light owl-carousel-light-init-fadeIn manual dots-inside dots-horizontal-center show-dots-xs show-dots-sm show-dots-md dots-light nav-with-transparency nav-md nav-font-size-sm mb-0 custom-nav-arrows-1"
    data-plugin-options="{'loop': true, 'nav':false, 'autoplay': false}" style="height: 100vh;">
    <div class="owl-stage-outer">
        <div class="owl-stage">
            <!-- Carousel Slide 1 -->
            <div class="owl-item position-relative pt-5 container-background">

            </div>           
        </div>
    </div>    
</div>
<!--中心主軸-->
<section class="section section-no-background section-text-light section-center border-0 mt-0 mb-0 py-5" id="main">
    <div class="container py-5">
        <div class="row px-1 px-lg-5 px-md-5">
            <div class="col-12">
                <img class="custom-svg-1 icon-animated mt-3" width="40" src="../images/icons/double_quotes.svg"
                    alt="BeyondFitness|私人教練是什麼" data-icon
                    data-plugin-options="{'onlySVG': false, 'color': '#EBD7BF', 'animated': false, 'strokeBased': true, 'svgStyle': 'fill:#EBD7BF'}" />

                <h1 class="text-color-tertiary font-weight-medium mt-5 mb-3 title-tag-ls fst-italic">
                    @Html.Raw(homeAll.CentralAxisSlogan)
                </h1>
                <h3 class="font-weight-bold line-height-5 pt-5">@Html.Raw(homeAll.CentralAxisSloganDesc)</h3>
                @* <div
                    class="divider divider-tertiary divider-small divider-small-center divider-xxs py-4 hidden-sm-down">
                    <hr class="my-0" style="width: 50px; height: 3px;">
                </div>
                <p class="text-center hidden-sm-down">@Html.Raw(homeAll.CentralAxisDescLg)</p>
                <p class="text-center px-3 hidden-sm-up">@Html.Raw(homeAll.CentralAxisDescSm)</p> *@
            </div>
            @* <div class="col-12 py-5">
                <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/Aboutus")))"
                    class="btn btn-default btn-rounded fst-italic font-weight-normal text-2">@Html.Raw(commonAll.ReadMore)</a>
            </div> *@
        </div>
    </div>
</section>

<!--私人教練是什麼-->
<section class="section section-center section-text-light p-0 mt-0 mb-0 border-0 py-5 youtube container-background">
    <div class="container container-xl-custom container-xl-custom py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12">
                <a class="text-decoration-none popup-youtube" href="@Html.Raw(homeAll.YoutubeLink)">
                    <img class="custom-svg-1 icon-animated" width="90" src="../images/icons/play-button_f.svg"
                        alt="BeyondFitness|youtube" data-icon
                        data-plugin-options="{'color': '#EBD7BF', 'animated': true, 'delay': 600, 'strokeBased': true, 'extraClass': 'player'}" />
                </a>
                <h1
                    class="text-12 font-weight-light my-5 title-tag-ls line-height-4 text-uppercase fst-italic text-center hidden-sm-down mb-0">
                    @Html.Raw(homeAll.YoutubeSlogan)
                </h1>
            </div>
        </div>
    </div>
</section>
<!--3Key Point服務特色-->
<section class="section section-no-background section-text-light p-0 mt-0 mb-0 border-0 py-5 hidden-md-down">
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-12 col-lg-3 col-md-3">
                <h2 class="text-color-tertiary font-weight-semi-bold mb-2 text-uppercase mt-2">@Html.Raw(homeAll.KeyPoint)</h2>
                <span class="text-3-4 font-weight-medium title-tag-ls d-block">@Html.Raw(homeAll.KeyPointDesc)</span>
            </div>
            <div class="col-12 col-lg-3 col-md-3">
                <div class="featured-boxes featured-boxes-style-7">
                    <div class="box-content">
                        <img class="custom-svg-1 icon-animated" width="70" src="../images/icons/keypoint/item-01.svg"
                            alt="BeyondFitness|科學訓練" data-icon
                            data-plugin-options="{'onlySVG': false, 'animated': false, 'strokeBased': true}" />
                        <p class="text-color-tertiary text-3 mb-0 line-height-8 pt-2">
                            @Html.Raw(homeAll.KeyPoint_1_Subject)</p>
                        <h4 class="font-weight-semi-bold pb-2">@Html.Raw(homeAll.KeyPoint_1)</h4>
                        <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/Service"))#scientific_container"
                            class="btn btn-default btn-rounded fst-italic font-weight-normal text-3">@Html.Raw(commonAll.ReadMore)</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3">
                <div class="featured-boxes featured-boxes-style-7">
                    <div class="box-content">
                        <img class="custom-svg-1 icon-animated mt-3" width="70" src="../images/icons/keypoint/item-02.svg"
                            alt="BeyondFitness|健康團隊" data-icon
                            data-plugin-options="{'onlySVG': false, 'animated': false, 'strokeBased': true}" />
                        <p class="text-color-tertiary text-3 mb-0 line-height-8 pt-2">
                            @Html.Raw(homeAll.KeyPoint_2_Subject)</p>
                        <h4 class="font-weight-semi-bold pb-2">@Html.Raw(homeAll.KeyPoint_2)</h4>
                        <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/Service"))#healthy_container"
                            class="btn btn-default btn-rounded fst-italic font-weight-normal text-3">@Html.Raw(commonAll.ReadMore)</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3">
                <div class="featured-boxes featured-boxes-style-7">
                    <div class="box-content hidden-sm-down">
                        <img class="custom-svg-1 icon-animated mt-3" width="70" src="../images/icons/keypoint/item-03.svg"
                            alt="BeyondFitness|安心承諾" data-icon
                            data-plugin-options="{'onlySVG': false, 'animated': false, 'strokeBased': true}" />
                        <p class="text-color-tertiary text-3 mb-0 line-height-8 pt-2">
                            @Html.Raw(homeAll.KeyPoint_3_Subject)</p>
                        <h4 class="font-weight-semi-bold pb-2">@Html.Raw(homeAll.KeyPoint_3)</h4>
                        <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/Service"))#guarantee_container"
                            class="btn btn-default btn-rounded fst-italic font-weight-normal text-2">@Html.Raw(commonAll.ReadMore)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--聲音與文章-->
@* <section class="section section-no-background section-text-light p-0 mt-0 mb-0 border-0 py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 px-0 pe-lg-5 pe-md-3">
                <h2
                    class="text-color-tertiary font-weight-normal mb-0 positive-ls-5 text-uppercase mt-2 d-flex justify-content-center justify-content-lg-start justify-content-md-start">
                    @Html.Raw(homeAll.Voice)
                </h2>
                <span
                    class="text-3-4 font-weight-medium positive-ls-10 d-block d-flex justify-content-center justify-content-lg-start justify-content-md-start">@Html.Raw(homeAll.VoiceDesc)</span>
                @{
                    dynamic voices = homeAll.VoiceItem;
                    if (voices != null)
                    {
                        <div class="owl-carousel owl-theme nav-with-transparency nav-light nav-center-images-only dots-morphing mt-4"
                            data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': true}">
                            @{
                                JArray voice = voices as JArray;
                                dynamic[] item = voice.ToArray();
                                for (int i = 0; i < item.Length; i++)
                                {                    
                                    
                                <div class="card">
                                    @{
                                        if (item[i].Type == "Blog") {
                                            <img class="card-img-top" src="Blog/@Html.Raw(((String)item[i].Date).Replace(".", ""))/images/Cover.jpg" alt="BeyondFitness|我們的聲音" />
                                        } else {
                                                <img class="card-img-top" src="../images/avatars/@Html.Raw(item[i].Author)/Voice/people.jpg"
                                                    alt="BeyondFitness|我們的聲音" />
                                        }
                                    }                                        
                                        <div class="card-body">
                                            <p>
                                                <span class="author">@Html.Raw(item[i].Author)</span>
                                                <span class="float float-end date">@($"{item[i].PublicDate:yyyy.MM.dd}")</span>
                                            </p>
                                            <h4 class="mb-3 subject-title">@Html.Raw(item[i].Subject)</h4>
                                            <p class="overflow-ellipsis">@Html.Raw(item[i].Content)</p>
                                            <div class="row">
                                                <div class="col-6">
                                                    @{
                                                        
                                                        if (!String.IsNullOrEmpty((String)item[i].Youtube))
                                                        {
                                                            <a class="popup-youtube" href="@Html.Raw(item[i].Youtube)">
                                                                <img src="../images/icons/youtube.svg" alt="BeyondFitenss|youtube" class="youtube-img"/>
                                                            </a>	                                                            
                                                        }
                                                    }											
                                                </div>
                                                <div class="col-6 d-flex align-items-end justify-content-end">
                                                @{
                                                    if (item[i].Type == "Blog")
                                                    {                                                            
                                                        <a href="@Html.Raw($"../Official/BlogSingle?{(new { DocID = item[i].LinkID }).JsonStringify().EncryptKeyNormal().UrlEncodeBase64String()}")"
                                                            class="read-more text-color-dark font-weight-semibold text-2 fst-italic">@Html.Raw(commonAll.ReadMore)
                                                            <i class="fas fa-angle-right position-relative top-1 ms-1"></i>
                                                        </a>                                                    
                                                    } else {
                                                        var viewModel = new
                                                        {
                                                            BranchID = (String)item[i].BranchID,
                                                            MemberCode = (String)item[i].MemberCode
                                                        };
                                                        <a href='javascript:gotoVoicePage(@Html.Raw(viewModel.JsonStringify()));'
                                                            class="read-more text-color-dark font-weight-semibold text-2 fst-italic">@Html.Raw(commonAll.ReadMore)
                                                            <i class="fas fa-angle-right position-relative top-1 ms-1"></i>
                                                        </a>
                                                    }
                                                }                                                                
                                                </div>
                                            </div>		                                                                                   
                                        </div>                                   
                                </div>                               
                                }
                            }
                        </div>
                    }  
                }
            </div>
            <div class="col-12 col-lg-6 col-md-6 px-0 ps-lg-5 ps-md-3 hidden-sm-down">
                <h2 class="text-color-tertiary font-weight-normal mb-0 positive-ls-5 text-uppercase mt-2">
                    @Html.Raw(homeAll.News)
                </h2>
                <span class="text-3-4 font-weight-medium positive-ls-10 d-block">@Html.Raw(homeAll.NewsDesc)</span>
                <!-- <div class="owl-carousel owl-theme show-nav-title owl-loaded owl-drag owl-carousel-init dots-morphing mt-4"
                                data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': true}"> -->
                <div class="owl-carousel owl-theme nav-with-transparency nav-light nav-center-images-only dots-morphing mt-4"
                    data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': true}">
                    @{
                        var tags = models.GetTable<BlogTag>().Where(t=>t.CategoryID == 9);
                        var articleItems = models.GetTable<BlogArticle>()
                                .Where(b=>!b.NotAfter.HasValue || b.NotAfter >= DateTime.Today)
                                .Where(b=>!tags.Any(t=>t.DocID == b.DocID))
                                .Where(a => a.Document.DocDate < DateTime.Now)
                                //.Where(a => a.Document.CurrentStep == (int)Naming.DocumentLevelDefinition.正常)
                                .OrderByDescending(a => a.Document.DocDate)
                                .Take(4).ToList();
                    }
                    @foreach(var article in articleItems)
                    {
                      
                        <div class="card">
                            <img class="card-img-top overlay-op-6" src="../Official/blog/@(article.BlogID)/images/Cover.jpg"
                                alt="BeyondFitness|精選文章">
                            <div class="card-body">
                                <p><span class="author">@Html.Raw(article.UserProfile.FullName())</span><span
                                            class="float float-end date">@($"{article.Document.DocDate:yyyy.MM.dd}")</span></p>
                                <h4 class="mb-3 subject-title">@Html.Raw(article.Title)</h4>
                                <p class="overflow-ellipsis">
                                    @Html.Raw(article.Subtitle)</p>
                                <a href='@Html.Raw($"../Official/BlogSingle?{(new { DocID = article.DocID }).JsonStringify().EncryptKeyNormal().UrlEncodeBase64String()}")'
                                    class="read-more text-color-dark font-weight-semibold text-2 float float-end fst-italic">@Html.Raw(commonAll.ReadMore)
                                    <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                            </div>
                        </div>
                    }                   
                </div>
            </div>
        </div>
    </div>
</section> *@
<section class="section bg-color-dark section-text-dark p-0 mt-0 mb-0 border-0 py-5 pt-lg-0">
    <div class="container-fluid">
        <div class="row pt-5 pb-1 hidden-lg-up">
            <div class="text-center">
                <h2 class="text-color-tertiary font-weight-semi-bold mb-2 text-uppercase">
                    @Html.Raw(homeAll.News)
                </h2>
                <span
                    class="text-3-4 font-weight-medium title-tag-ls d-block text-color-light">@Html.Raw(homeAll.NewsDesc)</span>
            </div>
        </div>
        <div class="row py-5 px-0">
            <div class="owl-carousel owl-theme rounded-nav nav-dark nav-icon-1 nav-size-md nav-position-1 owl-loaded owl-drag owl-carousel-init mt-4 px-0"
                data-plugin-options="{'items': 1, 'margin': 20, 'loop': false, 'nav': true, 'dots': true}">                    
                    @{
                        var tags = models.GetTable<BlogTag>().Where(t=>t.CategoryID == 9);
                        var articleItems = models.GetTable<BlogArticle>()
                                .Where(b=>!b.NotAfter.HasValue || b.NotAfter >= DateTime.Today)
                                .Where(b=>!tags.Any(t=>t.DocID == b.DocID))
                                .Where(a => a.Document.DocDate < DateTime.Now)
                                //.Where(a => a.Document.CurrentStep == (int)Naming.DocumentLevelDefinition.正常)
                                .OrderByDescending(a => a.Document.DocDate)
                                .Take(5).ToList();                       
                        foreach (var article in articleItems)
                        {
                        <div class="row bg-color-light">
                            <div class="col-12 col-lg-6 col-md-12 p-0">
                                <img src="@VirtualPathUtility.ToAbsolute($"~/BlogContent/blog/{article.BlogID}/images/Cover.jpg")" height="100%" alt="BeyondFitness|精選文章">
                            </div>
                            <div class="col-12 col-lg-6 col-md-12 p-0 align-self-center">
                                <div class="text-center pt-5 hidden-md-down">
                                    <h2 class="text-color-tertiary font-weight-semi-bold mb-2 text-uppercase">
                                        @Html.Raw(homeAll.News)
                                    </h2>
                                    <span
                                        class="text-3-4 font-weight-medium title-tag-ls d-block text-color-dark">@Html.Raw(homeAll.NewsDesc)</span>
                                </div>
                                <div class="w-auto w-xl-75pct px-5 py-5 py-lg-5 py-md-5 mx-auto">
                                    <h2 class="font-weight-semi-bold mb-2 justify-content-start pb-3">
                                        @Html.Raw(article.Title)
                                    </h2>
                                    <p class="overflow-ellipsis text-color-dark">@Html.Raw(article.Subtitle)</p>
                                    <div class="row pt-4">
                                        <div class="col-6">
                                            @if (article.Youtube != null)
                                            {
                                                <a class="popup-youtube" href="@Html.Raw(article.Youtube)"><img
                                                        src="../images/icons/youtube.svg" alt="BeyondFitenss|youtube"
                                                        class="youtube-img" />
                                                </a>
                                            }                                       
                                        </div>
                                        <div class="col-6 d-flex align-items-end justify-content-end">
                                            <a href="@Html.Raw($"{VirtualPathUtility.ToAbsolute($"~/Official/tw/BlogSingle")}?{(new { DocID = article.DocID }).JsonStringify().EncryptKeyNormal().UrlEncodeBase64String()}")"
                                                class="read-more text-color-dark font-weight-semibold text-3 fst-italic">@Html.Raw(commonAll.ReadMore)<i
                                                    class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    }
            </div>
        </div>
    </div>
</section>
<!--預約體驗-->
@* <section class="section section-text-light p-0 mt-0 mb-0 border-0 reservation container-background">
    <div class="container container-xl-custom container-xl-custom py-5 h-100 hidden-md-down">
        <div class="row justify-content-start align-items-center h-100">
            <div class="col-7">
                <img class="custom-svg-1 icon-animated mt-3" width="40" src="../images/icons/double_quotes.svg"
                    alt="BeyondFitness|私人教練是什麼" data-icon
                    data-plugin-options="{'onlySVG': true, 'animated': false, 'strokeBased': true}" />
                <h1 class="mt-3 font-weight-bold mb-0">@Html.Raw(homeAll.BookSlogan)</h1>
                <div class="divider divider-tertiary divider-small divider-xxs py-4 ">
                    <hr class="my-0" style="width: 50px; height: 3px;">
                </div>
                <p>@Html.Raw(homeAll.BookDesc1)</p>
                <p class="font-weight-medium">@Html.Raw(homeAll.BookDesc2)</p>
                <a href="@(Url.Action("BookNow", "Official"))"
                    class="btn bg-color-light text-color-dark btn-rounded fst-italic mt-5">@Html.Raw(commonAll.BookNow2)</a>
            </div>
        </div>
    </div>
</section>
<section class="section section-no-background section-text-light p-0 mt-0 mb-0 border-0 py-5 hidden-lg-up">
    <div class="container container-xl-custom container-xl-custom py-5 px-5">
        <div class="row">
            <div class="col-12">
                <img class="custom-svg-1 icon-animated mt-3" width="40" src="../images/icons/double_quotes.svg"
                    alt="BeyondFitness|私人教練是什麼" data-icon
                    data-plugin-options="{'onlySVG': true, 'animated': false, 'strokeBased': true}" />
                <h1 class="mt-3 font-weight-bold mb-0">@Html.Raw(homeAll.BookSlogan)</h1>
                <div class="divider divider-tertiary divider-small divider-xxs py-4 ">
                    <hr class="my-0" style="width: 50px; height: 3px;">
                </div>
                <p>@Html.Raw(homeAll.BookDesc1)</p>
                <p class="font-weight-medium">@Html.Raw(homeAll.BookDesc2)</p>
                <a href="@(Url.Action("BookNow", "Official"))"
                    class="btn bg-color-light btn-rounded fst-italic mt-5">@Html.Raw(commonAll.BookNow2)</a>
            </div>
        </div>
    </div>
</section> *@
<!--夥伴之聲-->
<section class="section section-no-background border-0 mt-0 mb-0 section-center py-5 joinus">
    <div class="row py-5">
        <div class="col-12 col-lg-5 col-12 col-sm-12 px-0">
            <div class="w-xl-50pct w-lg-75pct w-md-100pct pe-0 float-none float-lg-end pe-0 pe-lg-5 pe-md-0">
                <h2
                    class="text-color-tertiary font-weight-semi-bold mb-2 text-uppercase text-center text-lg-start text-md-center">
                    @Html.Raw(homeAll.Voice)
                </h2>
                <span
                    class="text-3-4 font-weight-medium title-tag-ls d-block text-color-light text-center text-lg-start text-md-center">@Html.Raw(homeAll.VoiceDesc)</span>
                <div class="divider divider-tertiary divider-small divider-xxs py-4 hidden-md-down">
                    <hr class="my-0" style="width: 50px; height: 3px;">
                </div>
                <h3
                    class="font-weight-bold line-height-5 hidden-md-down text-color-light text-center text-lg-start text-md-center">
                    @Html.Raw(homeAll.VoiceSlogan)</h3>
            </div>
        </div>
        <div class="col-12 col-lg-7 col-12 col-sm-12 px-3 px-lg-5 px-md-5 ps-lg-0 pt-5 pt-lg-0 pt-md-5">
            <div class="w-xl-75pct w-lg-100pct">
                @{
                    dynamic voices = joinUsAll.VoiceItem;
                    if (voices != null)
                    {
                        <div class="owl-carousel owl-theme"
                            data-plugin-options="{'loop': false, 'nav': false, 'dots': true, 'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 3}, '979': {'items': 3}, '1199': {'items': 3}, '1399': {'items': 4}}, 'autoHeight': true, 'margin': 20, 'animateOut': 'slideOutRight', 'animateIn': 'flipInY'}">
                            @{
                                JArray voice = voices as JArray;
                                dynamic[] item = voice.ToArray();
                                for (int i = 0; i < item.Length; i++)
                                {
                                    JObject branch = ((JArray)findUsAll["BranchItems"]).Where(c => c["ID"] ==
                                    item[i].BranchID).FirstOrDefault() as JObject;
                                    if (branch != null)
                                    {
                                        JObject coach = ((JArray)branch["Coaches"]).Where(c => c["MemberCode"] ==
                                        item[i].MemberCode).FirstOrDefault() as JObject;
                                        if (coach != null)
                                        {
                                            var viewModel = new
                                            {
                                                BranchID = (int?)branch["ID"],
                                                MemberCode = (String)coach["MemberCode"]
                                            };
                                            <div class="d-flex justify-content-center">
                                                <div class="card border-color-secondary custom-squareround-card"
                                                    onclick='gotoVoicePage(@Html.Raw(viewModel.JsonStringify()));'>
                                                    <div class="card-body p-3">
                                                        @{
                                                            if ((i % 2) == 0)
                                                            {
                                                                <img src="../images/avatars/@Html.Raw(coach["NameDesc"])/Voice/Cover.jpg"
                                                                    class="avatar-img" alt="BeyondFitness|員工之聲">
                                                            }
                                                        }
                                                        <div class="row text-center pt-5">
                                                            <div class="col-12">                                                                
                                                                <h5 class="text-uppercase">@Html.Raw(branch["Name"])</h5>
                                                                <h3 class="font-weight-semi-bold mb-2">@Html.Raw(coach["NameDesc"])</h3>
                                                                <h6 class="font-weight-normal">@Html.Raw(coach["JobTitle"])</h6>
                                                            </div>
                                                        </div>
                                                        @{
                                                            if ((i % 2) == 1)
                                                            {
                                                                <img src="../images/avatars/@Html.Raw(coach["NameDesc"])/Voice/Cover.jpg"
                                                                    class="avatar-img" alt="BeyondFitness|員工之聲">
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-12 hidden-lg-up">
            <h3 class="font-weight-bold line-height-5 text-color-light">@Html.Raw(homeAll.VoiceSlogan)</h3>
        </div>
    </div>
</section>
<section class="section bg-color-dark-charcoal section-text-light p-0 mt-0 mb-0 border-0 py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 col-md-5 px-5 px-lg-0 px-md-0">
                <div class="w-xl-auto w-lg-auto w-md-auto pe-0 float-center float-lg-end float-md-end">
                    <img class="custom-svg-1 icon-animated mt-3" width="40" src="../images/icons/double_quotes.svg"
                        alt="BeyondFitness|私人教練是什麼" data-icon
                        data-plugin-options="{'onlySVG': false, 'color': '#E76751', 'animated': false, 'strokeBased': true, 'svgStyle': 'fill:#E76751'}" />

                    <h2 class="font-weight-medium mt-5 mb-3">
                        @Html.Raw(homeAll.BookSlogan)
                    </h2>
                </div>
            </div>
            <div class="col-auto ps-3 pe-4 hidden-sm-down">
                <svg class="mb-4" width="15" height="250" viewBox="0 0 10 220" data-appear-animation-svg="true">
                    <line x1="5" x2="5" y1="1" y2="250" stroke="#E76751" stroke-width="1" class="appear-animation"
                        data-appear-animation="customSVGLineAnim"></line>
                </svg>
            </div>
            <div class="col-12 col-lg-6 col-md-6 px-5 px-lg-0 px-md-0">
                <p class="hidden-sm-down">@Html.Raw(homeAll.BookDesc1)</p>
                <p class="font-weight-medium pt-5 pt-lg-0 pt-md-0">@Html.Raw(homeAll.BookDesc2)</p>
                <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/BookNow"))"
                    class="btn bg-color-light text-color-dark btn-rounded fst-italic mt-3">@Html.Raw(commonAll.BookNow)</a>
            </div>
        </div>
    </div>
</section>
<!--最新活動Banner-->
@{
    dynamic news = homeAll.NewsItem;
    if (news != null)
    {
        JArray showNews = news as JArray;
        dynamic[] item = showNews.ToArray();
        if (item.Length > 0) {
            <section class="section section-no-background section-text-light p-0 mt-0 mb-0 border-0 py-5 event">
                <div class="container py-5">
                    <div class="row py-5">
                        <div class="col-12 px-0">
                            <div class="owl-carousel owl-theme custom-nav-arrows-1 px-0 dots-morphing"
                                data-plugin-options="{'loop': true, 'nav': false, 'dots': true, 'items': 1, 'autoplay': false, 'autoplayTimeout': 7000, 'autoHeight': true, 'margin': 0, 'animateOut': 'slideOutLeft'}">
                                @{
                                    for (int i = 0; i < item.Length; i++)
                                    {
                                        <div class="event-item">
                                            <img src="../images/shape/rectangle.jpg"
                                                class="img-thumbnail img-thumbnail-no-borders @item[i].ImgName" alt="BeyondFitness|活動專區">
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        }
    }
}
<!--Location-->
<section class="section section-center section-no-background border-0 mt-0 mb-0 py-5">
    <div class="container py-5">
        <div class="row px-5">
            <div class="col-12">
                <h2
                    class="text-color-tertiary font-weight-semi-bold mb-2 text-uppercase d-flex justify-content-center">
                    @Html.Raw(homeAll.Location)
                </h2>
                <span
                    class="text-3-4 font-weight-medium title-tag-ls d-block d-flex justify-content-center">@Html.Raw(homeAll.LocationDesc)</span>
                <div class="divider divider-tertiary divider-small divider-small-center divider-xxs py-4 ">
                    <hr class="my-0" style="width: 50px; height: 3px;">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="home-map hidden-sm-down">
                    <img src="../images/home/beyond-map-lg_20240611.svg" alt="BeyondFitness|分店一覽" data-icon
                        data-plugin-options="{'onlySVG': true, 'animated': false, 'delay': 0, 'fadeIn': false}"
                        width="700" />
                </div>
                <div class="home-map hidden-md-up">
                    <img src="../images/home/beyond-map-sm_20240611.svg" alt="BeyondFitness|分店一覽" data-icon
                        data-plugin-options="{'onlySVG': true, 'animated': false, 'delay': 0, 'fadeIn': false}" />
                </div>
            </div>
        </div>

    </div>
</section>

<!--合作夥伴-->
<section class="section section-center section-no-background border-0 mt-0 mb-0 py-5 hidden-sm-down">
    <div class="container py-5">
        <div class="row px-5">
            <div class="col-12">
                <h2
                    class="text-color-tertiary font-weight-semi-bold mb-2 text-uppercase d-flex justify-content-center">
                    @Html.Raw(commonAll.Partner)
                </h2>
                <span
                    class="text-3-4 font-weight-medium title-tag-ls d-block d-flex justify-content-center">@Html.Raw(commonAll.PartnerDesc)</span>
                <div class="divider divider-tertiary divider-small divider-small-center divider-xxs py-4 ">
                    <hr class="my-0" style="width: 50px; height: 3px;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @{
                    dynamic partners = commonAll.PartnerItem;
                    if (partners != null)
                    {
                        <div class="owl-carousel owl-theme"
                            data-plugin-options="{'dots':false, 'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 4}, '979': {'items': 5}, '1199': {'items': 5}}, 'loop': true, 'autoHeight': false, 'autoWidth': false, 'margin': 50}">
                            @{
                                JArray partner = partners as JArray;
                                dynamic[] item = partner.ToArray().SelectMany(b => b["Items"]).OrderBy(c => c["Order"]).ToArray();
                                for (int i = 0; i < item.Length; i++)
                                {                                    
                                    if (String.IsNullOrEmpty((String) item[i].link))
                                    {
                                        <img width="150" src="../images/partner/@Html.Raw(item[i].LogoIcon)" alt="BeyondFitness|合作夥伴"
                                            data-icon data-plugin-options="{'onlySVG': false, 'color': '#5E5E5E', 'animated': false, 'delay': 0, 'fadeIn': false, 'strokeBased': true, 'svgStyle': 'fill:#5E5E5E'}" />
                                    }
                                    else
                                    {                                                
                                        <a href="@Html.Raw(item[i].link)" target="_blank">
                                            <img width="150" src="../images/partner/@Html.Raw(item[i].LogoIcon)" alt="BeyondFitness|合作夥伴"
                                                data-icon data-plugin-options="{'onlySVG': false, 'color': '#5E5E5E', 'animated': false, 'delay': 0, 'fadeIn': false, 'strokeBased': true, 'svgStyle': 'fill:#5E5E5E'}" />
                                        </a>
                                       
                                    }
                                    
                                }
                            }                            
                        </div>
                    }
                }               
            </div>
            <div class="col-12 pt-5">
                <a href="@(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/PartnerInfo"))"
                    class="btn btn-default btn-rounded fst-italic font-weight-normal text-3 simple-ajax-popup">More
                    Partners</a>
            </div>
        </div>

    </div>
</section>
@section TailPageJavaScriptInclude {
        <script>
            $(window).on('icon.rendered', function () {
                var branches = $('.homemap-branch');

                branches.each(function (index, element) {
                    element.addEventListener('click', function (event) {
                        //這裡執行點擊區域1後的操作，例如重定向到不同的網頁		
        
                    window.location.href = '@Html.Raw(VirtualPathUtility.ToAbsolute($"~/Official/{langPath}/BranchInfo"))'+'?Branch=' + element.id;
                    });

                    element.addEventListener('mouseover', function (event) {
                        //游標移到後背景變色					
                       if (event.target.tagName == 'rect') {
                            event.target.style.fill = '#fff';
                        var text = event.target.parentElement.querySelectorAll('tspan');
                            for (i = 0; i < text.length; i++) {
                                text[i].style.fill = '#282828';
                            }
                        }
                    });

                    element.addEventListener('mouseout', function (event) {
                        //游標移到後背景變色
                        if (event.target.tagName == 'rect') {
                            event.target.style.fill = '#282828';
                        var text = event.target.parentElement.querySelectorAll('tspan');
                            for (i = 0; i < text.length; i++) {
                                text[i].style.fill = '#fff';
                            }
                        }
                    });
                });

            });	
        </script>
}