@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using CommonLib.Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using WebHome.Models.Resources
@functions
{
    const String MissionID = "04_Regular";
}
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    ViewBag.MainClass = "home";
    ViewBag.MenuDark = false;
    String lang = ViewBag.Lang ?? "zh-TW";
    var langPath = lang == "zh-TW"
        ? "tw"
        : lang == "en-US"
            ? "en"
            : "ja";

    if (ViewBag.PrepareMission == true)
    {
        PromotionAppraisalDataModel appraisal = (PromotionAppraisalDataModel)ViewBag.Appraisal;
        var checkList = appraisal.Missions;

        var mission = checkList.Where(m => m.MissionID == MissionID).FirstOrDefault();
        if (mission == null)
        {
            mission = new CampaignMissionDataModel
            {
                ViewPath = "~/Views/LearnerActivity/Page.zh-TW/Module/CampaignProcess/RegularMission.cshtml",
                Goal = new int[2],
                CheckResult = false,
                MissionID = MissionID,
                ResultModel = new int[2]
            };
            checkList.Add(mission);
        }
        mission.CheckResult = false;
    }

    if (ViewBag.ShowMission == true)
    {
        <li>完成固定任務</li>
    }

    if (ViewBag.CheckMission == true)
    {
        await Html.RenderPartialAsync("~/Views/LearnerActivity/Page.zh-TW/Module/CampaignProcess/CheckRegularMission.cshtml");
    }

    if (ViewBag.ReviewMission == true)
    {
        CampaignMissionDataModel mission = (CampaignMissionDataModel)ViewBag.CurrentMission;

        <div class="card bg-beyond-dark text-center">

            <img src="@Html.Raw(((int[])mission.ResultModel)[0] == ((int[])mission.Goal)[0] ? "../images/icons/complete.png" : "../images/icons/notcomplete.png")" class="rounded-circle mb-2 mt-2" width="50" height="50">

            <span class="d-block color-beyondwhite-light @Html.Raw(((int[])mission.ResultModel)[0] == ((int[])mission.Goal)[0] ? "" : "opacity-50") font-14">課前<br class="d-block d-lg-none d-md-none" />健康自評<small class="d-block">(@(((int[])mission.ResultModel)[0])/@(((int[])mission.Goal)[0]))</small></span>

        </div>

        <div class="card bg-beyond-dark text-center">

            <img src="@Html.Raw(((int[])mission.ResultModel)[1] == ((int[])mission.Goal)[1] ? "../images/icons/complete.png" : "../images/icons/notcomplete.png")" class="rounded-circle mb-2 mt-2" width="50" height="50">

            <span class="d-block color-beyondwhite-light @Html.Raw(((int[])mission.ResultModel)[1] == ((int[])mission.Goal)[1] ? "" : "opacity-50") font-14">課後<br class="d-block d-lg-none d-md-none" />訓練回饋<small class="d-block">(@(((int[])mission.ResultModel)[1])/@(((int[])mission.Goal)[1]))</small></span>

        </div>

    }
}

